.containerActivities{
    display: flex;
    flex-direction: column;
    width: 1200px;
    max-width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-left:-20%;
    margin-top: -10%;
}

.containerActivities div {
    margin: 40px;
}

.searchbar {
    position: fixed;
    top: 14%;
    right: 0;
    margin: 10px;
    padding: 20px;
}

.btn-allActivities{
    position: fixed;
    justify-content: center;
    top: 0%;
    right: 18.4%;
    margin: 10px;
    padding: 11px;
}